<!DOCTYPE html>
<html>
<head>
  <title>Zamora's</title>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src = "javascript\index.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css\index.css">
  <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">  
</head>
<body id = "homepage">


<nav class="navbar navbar-default">
<div class="container">
  <ul class="nav navbar-nav navbar-right">
    <li class = "startShopping"><a href="/shoppingpage"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Start Shopping</a></li>

    {{#if user}}

           <li class = "signOut"><a href="/logout" ><span class="glyphicon glyphicon-user login" aria-hidden="true"></span>Sign out: {{name}}</a></li>
           
    
    {{else}}
           <li class = "login"><a href="/login" ><span class="glyphicon glyphicon-user login" aria-hidden="true"></span>Login</a></li>
           <li class = "signUp"><a href="/signup"><span class="glyphicon glyphicon-user signUp" aria-hidden="true"></span>Signup</a></li>
     {{/if}} 
   
    

  </ul>
</div>
</nav>

<div class="logo">
<figure>
  <p class="logoName">Zamora's</p>
  <figcaption>Retail and Clothing</figcaption>
</figure>
</div>

</body>
</html>
