
#homepage {
	background: url('/images/shoes_belt.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
 	background-size: cover;
}


#homepage .navbar {
	background-color: transparent;
	border:none;
/*	float:right;*/
}

#homepage .navbar-default .navbar-nav>li>a {
	color:white;
	font-size: 1.1em;
}

#shoppingpage {
/*	max-width: 900px;*/
	/*font-family: 'Ranga', cursive;*/
	width:100%;
	height:100%; 
	overflow-y: hidden; 




background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
}

#shoppingpage .shoppingcartText {
	text-align: center;
	font-size: 15px;
}

#shoppingpage .centerdiv{
	border: 1px solid #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
	margin: 20px auto;
	overflow-y: scroll;
	height: 700px;
	max-width: 900px;
}

#shoppingpage .navbar{
	width:100%;
	background-color: rgb(228,228,228);
	border-color: transparent;
	margin: 20px auto;
	max-width: 900px;
}

#shoppingpage .navbar a {
	color:black;
}

#shoppingpage .navbar form {
	padding:7px;
}

#shoppingpage .dropdown-menu {
		background-color: rgb(228,228,228);
}

#shoppingpage .dropdown-menu .dropdown-item {
	float:left;
	display:inline;
	width:100%;
	padding:10px;
}

#shoppingpage .menuText {
	padding-left: 5px;
}

#shoppingpage .items {
	padding-top:20px;
	width:auto;
}

#shoppingpage .img-responsive{
	height:150px;
	width: 150px;
}

#shoppingCartPage {



background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
        
}

#loginSignupPage {
	height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
}

#loginSignupPage h1 > a {
	text-decoration: none;
	color:inherit;
}

#loginSignupPage hr{
	width: 15%;
	color: #fff;
}

#loginSignupPage label{
	margin-bottom: 10px;
}

#loginSignupPage input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

#loginSignupPage  h1.title { 
	font-size: 80px;
	font-family: 'Ranga', cursive;
	font-weight: 400; 
}

#loginSignupPage .fa {
	font-size: 20px;
}

#loginSignupPage .fa-lock {
	font-size: 27px;
	position: all;
}

.image-text {
	bottom:0;
}

.logo {
	bottom:0px;
	position:fixed;
	font-family: 'Ranga', cursive;
	color:white;
	margin-left: 70px;
	margin-bottom: 30px;
	text-align: center;
	padding: 0;
	line-height: .7;
}

.logoName {
	font-size:4.3em;
	margin:0;
}

.modal-header {
	text-align: center;
}

figcaption {
	font-size: 1.1em;
	float:right;
}

.filter {
	height:25px;
	display:block;
}

.filter > ul {
	list-style-type: none;
}

.filter > ul > li {
	float:left;
	padding-left:5px;
	padding-right: 5px;
}

img:hover {
	opacity:0.5;
}

.greatDeals > a > img {
	width:100%;
	height:1000px;
}

.float-right {
	float:right;
}


.greatDeals > h1 { 
	position:absolute;
   top: 200px; 
   left: 0; 
   width: 100%;
   text-align: center; 
}

.greatDeals > h1 > span { 
   color: white; 
   font: bold 30px/50px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}


.navbar {
	background-color: transparent;
	border:none;
	float:right;
}

.navbar-default .navbar-nav > li > a {
	color:white;
	font-size: 1.1em;
}

.logo {
	bottom:0px;
	position:fixed;
	font-family: 'Ranga', cursive;
	color:white;
	margin-left: 70px;
	margin-bottom: 30px;
	text-align: center;
	padding: 0;
	line-height: .7;
}

.logoName {
	font-size:4.3em;
	margin:0;
}

.modal-header {
	text-align: center;
}


.form-group {
	margin: 0 auto;
	position:static;
	display:block;
	width:99%;
}


figcaption {
	font-size: 1.1em;
	float:right;
}


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


.main{
 	margin-top: 70px;
}



.form-group{
	margin-bottom: 15px;
}



.main-loginSignup{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.loginSignup-button{
	margin-top: 5px;
}

.loginSignup-register{
	font-size: 11px;
	text-align: center;
}