<!DOCTYPE html>
<html>
<head>
  <title>Zamora's</title>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css\index.css">
  <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
</head>
<body id="shoppingpage">



  <div class="topBar">
    <ul>
      <li>Mens</li>
      <li>Womens</li>
      <li>Unisex</li>
      <li>Shopping Cart</li>
    </ul>
  </div>
  <form name="create-post" action="/shoppingpage" method="post">
        <div class="form-group">
        <label>Search</label>
        <input type="text" name="search" placeholder="enter the item you want">
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
  <div class="filter">
  <ul>
    <li>Size:  <input type="radio">Small<input type="radio">Medium<input type="radio">Large</li>
    <li>Sort By Price: <input type="radio">High to Low<input type="radio">Low to High</li>
  </ul>
  </div>


{{!--    <form name="create-post" action="/shoppingpage" method="post">
        <div class="form-group">
        <label>Search</label>
        <input type="text" name="search" placeholder="enter the item you want">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form> --}}

  <div class="greatDeals">
    <a href="#"><img src="https://images.pexels.com/photos/25641/pexels-photo-25641.jpg?w=940&h=650&auto=compress&cs=tinysrgb"></a>
    <h1><span>Check out these GREAT deals for Black Friday!<span></h1>
  </div>


</body>
</html>
