<!DOCTYPE html>
<html>
<head>
  <title>Online Store Test</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css\index.css">
  <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
{{!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      Nujoma says hello
    </div>
  </div> --}}
 {{{ body }}}
</div>
</body>
</html>